<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <h1>SIJARTA TotalParticipation</h1>
        <h2>Login</h2>
        <form action="/login" method="post">
            {% csrf_token %} <!-- CSRF Token Added here -->
            <label for="nohp">nohp:</label>
            <input type="text" id="nohp" name="nohp" required><br><br>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            
            <button type="submit">Login</button>
        </form>

        <br><hr><br>

        <h2>Belum punya akun?</h2>
        <div>
            <!-- Register button for Pekerja -->
            <a href="/register-pekerja">
                <button type="button">Register sebagai Pekerja</button>
            </a>
        </div>
        <br>
        <div>
            <!-- Register button for Pelanggan -->
            <a href="/register-pelanggan">
                <button type="button">Register sebagai Pelanggan</button>
            </a>
        </div>
    </div>
    {% if error %}
    <p style="color: red">{{ error }}</p>
    {% endif %}
</body>
</html>
