<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Pengguna</title>
</head>
<body>
    <nav>
        <ul style="list-style-type: none; padding: 0; display: flex; background-color: #f0f0f0; border: 1px solid #ccc;">
            <li style="margin-right: 20px;"><strong>Role:</strong> Pengguna</li>
            <li style="margin-right: 20px;">Nama: {{nama}}</li>
            <li style="margin-right: 20px;"><a href="/homepage">Homepage</a></li>
            <li style="margin-right: 20px;"><a href="/mypay">MyPay</a></li>
            <li style="margin-right: 20px;"><a href="/pesanan">Kelola Pesanan Saya</a></li>
            <li style="margin-right: 20px;"><a href="/no8910/diskon">Diskon</a></li>
            <li style="margin-right: 20px;"><a href="/profile-pelanggan">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</body>
</html>